// icon 颜色
$color-icon: #037ef3;
// 页面背景颜色
$color-background: #f5f6f7;
// 内容背景颜色
$color-content-background: #ffffff;
// 内容字体颜色
$color-content: #535353;

// 字体定义规范
$font-size-small-size: .1rem;
$font-default-size: .16rem;